a
{
	color: blue;
	text-decoration: none;
}
.main
{
	text-align: center;
	margin-top: 8%;
}
.header
{
	font-size: 60px;
}
p
{
	color: gray;
}
.top
{
	text-align: center;
	margin-left: 30%;
}
tr, td
{
	padding: 15px;
}
.bottom
{
	text-align: left;
}



